In [ ]:
import numpy as np
import pandas as pd



```
`# This is formatted as code`
```

# Data Cleaning

This section involves extracting the required data from all the collected datasets and integrating them into a single dataset for further operations

## Stroke_Dataset_2017_3_year_average

Cleaning the stroke dataset

In [ ]:
stroke = s = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/Stroke_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County___2016-2018.csv')

In [ ]:
columns = stroke.columns

In [ ]:
columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Y_lat', 'X_lon'],
      dtype='object')

In [ ]:
stroke['Data_Value_Type'].unique()

array(['Age-adjusted, Spatially Smoothed, 3-year Average Rate',
       'Age-adjusted, 3-year Average Rate'], dtype=object)

In [ ]:
stroke = stroke[stroke['GeographicLevel'] == 'County']

In [ ]:
extra_cols = (['DataSource','Class', 'Topic','Data_Value_Footnote','Data_Value_Unit','Data_Value_Footnote_Symbol','StratificationCategory1','StratificationCategory2','TopicID','GeographicLevel'])

In [ ]:
stroke = stroke.drop(extra_cols,axis = 1)

In [ ]:
stroke.rename(columns = {'Data_Value' : 'Data_Value(per 100,000 population)','LocationID' : 'FIPS Code'},inplace = True)

In [ ]:
stroke.columns

Index(['Year', 'LocationAbbr', 'LocationDesc',
       'Data_Value(per 100,000 population)', 'Data_Value_Type',
       'Stratification1', 'Stratification2', 'FIPS Code', 'Y_lat', 'X_lon'],
      dtype='object')

In [ ]:
stroke_data = stroke[(stroke['Stratification1'] == 'Overall') & (stroke['Stratification2'] == 'Overall')]

In [ ]:
stroke_data.drop(['Stratification1','Stratification2'],axis = 1,inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
stroke_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Stroke_Data_Value_Overall(per 100,000 population)'},inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
stroke

,Year,LocationAbbr,LocationDesc,"Data_Value(per 100,000 population)",Data_Value_Type,Stratification1,Stratification2,FIPS Code,Y_lat,X_lon
0,2017,AK,Aleutians East,2.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2013,55.442393,-161.959930
1,2017,AK,Aleutians West,0.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2016,53.648343,-166.917533
2,2017,AK,Anchorage,67.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2020,61.159145,-149.104559
3,2017,AK,Bethel,104.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2050,60.923648,-159.753262
4,2017,AK,Bristol Bay,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2060,58.753496,-156.694662
...,...,...,...,...,...,...,...,...,...,...
59071,2017,WY,Sweetwater County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56037,41.657740,-108.886499
59072,2017,WY,Teton County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56039,43.926156,-110.594230
59073,2017,WY,Uinta County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56041,41.289493,-110.555808
59074,2017,WY,Washakie County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56043,43.903392,-107.686546
59075,2017,WY,Weston County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56045,43.841816,-104.571415

In [ ]:
for i in s['Stratification1'].unique():
  for j in s['Stratification2'].unique():
    df = stroke[(stroke['Stratification1'] == i) & (stroke['Stratification2'] == j)]
    print(df)
    stroke_data = stroke_data.merge(df[['Data_Value(per 100,000 population)','FIPS Code']],on = 'FIPS Code',how = 'outer')
    stroke_data.rename(columns = {'Data_Value(per 100,000 population)' : f'Stroke_Data_Value_{i}_{j}(per 100,000 population)','FIPS Code_x': 'FIPS Code'},inplace = True)

       Year LocationAbbr       LocationDesc  \
0      2017           AK     Aleutians East
1      2017           AK     Aleutians West
2      2017           AK          Anchorage
3      2017           AK             Bethel
4      2017           AK        Bristol Bay
...     ...          ...                ...
58680  2017           WY  Sweetwater County
58681  2017           WY       Teton County
58682  2017           WY       Uinta County
58683  2017           WY    Washakie County
58684  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
0                                     2.0
1                                     0.0
2                                    67.2
3                                   104.6
4                                     NaN
...                                   ...
58680                                61.7
58681                                60.2
58682                                62.9
58683                                60.6
58684                                67.1

                                         Data_Value_Type Stratification1  \
0      Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
1      Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
2      Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
3      Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
4      Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
58680  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58681  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58682  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58683  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58684  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

      Stratification2  FIPS Code      Y_lat       X_lon
0             Overall       2013  55.442393 -161.959930
1             Overall       2016  53.648343 -166.917533
2             Overall       2020  61.159145 -149.104559
3             Overall       2050  60.923648 -159.753262
4             Overall       2060  58.753496 -156.694662
...               ...        ...        ...         ...
58680         Overall      56037  41.657740 -108.886499
58681         Overall      56039  43.926156 -110.594230
58682         Overall      56041  41.289493 -110.555808
58683         Overall      56043  43.903392 -107.686546
58684         Overall      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
87     2017           AK     Aleutians East
88     2017           AK     Aleutians West
89     2017           AK          Anchorage
90     2017           AK             Bethel
91     2017           AK        Bristol Bay
...     ...          ...                ...
58749  2017           WY  Sweetwater County
58750  2017           WY       Teton County
58751  2017           WY       Uinta County
58752  2017           WY    Washakie County
58753  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
87                                    NaN
88                                    NaN
89                                   55.7
90                                   70.0
91                                    NaN
...                                   ...
58749                                60.3
58750                                59.4
58751                                61.4
58752                                58.7
58753                                66.1

                                         Data_Value_Type Stratification1  \
87     Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
88     Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
89     Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
90     Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
91     Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
58749  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58750  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58751  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58752  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58753  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

      Stratification2  FIPS Code      Y_lat       X_lon
87              White       2013  55.442393 -161.959930
88              White       2016  53.648343 -166.917533
89              White       2020  61.159145 -149.104559
90              White       2050  60.923648 -159.753262
91              White       2060  58.753496 -156.694662
...               ...        ...        ...         ...
58749           White      56037  41.657740 -108.886499
58750           White      56039  43.926156 -110.594230
58751           White      56041  41.289493 -110.555808
58752           White      56043  43.903392 -107.686546
58753           White      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
174    2017           AK     Aleutians East
175    2017           AK     Aleutians West
176    2017           AK          Anchorage
177    2017           AK             Bethel
178    2017           AK        Bristol Bay
...     ...          ...                ...
58818  2017           WY  Sweetwater County
58819  2017           WY       Teton County
58820  2017           WY       Uinta County
58821  2017           WY    Washakie County
58822  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
174                                   NaN
175                                   NaN
176                                  89.6
177                                   NaN
178                                   NaN
...                                   ...
58818                                 NaN
58819                                 NaN
58820                                 NaN
58821                                 NaN
58822                                 NaN

                                         Data_Value_Type Stratification1  \
174    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
175    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
176    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
177    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
178    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
58818  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58819  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58820  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58821  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58822  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

      Stratification2  FIPS Code      Y_lat       X_lon
174             Black       2013  55.442393 -161.959930
175             Black       2016  53.648343 -166.917533
176             Black       2020  61.159145 -149.104559
177             Black       2050  60.923648 -159.753262
178             Black       2060  58.753496 -156.694662
...               ...        ...        ...         ...
58818           Black      56037  41.657740 -108.886499
58819           Black      56039  43.926156 -110.594230
58820           Black      56041  41.289493 -110.555808
58821           Black      56043  43.903392 -107.686546
58822           Black      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
262    2017           AK     Aleutians East
263    2017           AK     Aleutians West
264    2017           AK          Anchorage
265    2017           AK             Bethel
266    2017           AK        Bristol Bay
...     ...          ...                ...
58887  2017           WY  Sweetwater County
58888  2017           WY       Teton County
58889  2017           WY       Uinta County
58890  2017           WY    Washakie County
58891  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
262                                   NaN
263                                   NaN
264                                  32.3
265                                   NaN
266                                   NaN
...                                   ...
58887                                82.1
58888                                 NaN
58889                                 NaN
58890                                 NaN
58891                                 NaN

                                         Data_Value_Type Stratification1  \
262    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
263    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
264    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
265    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
266    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
58887  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58888  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58889  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58890  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58891  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

      Stratification2  FIPS Code      Y_lat       X_lon
262          Hispanic       2013  55.442393 -161.959930
263          Hispanic       2016  53.648343 -166.917533
264          Hispanic       2020  61.159145 -149.104559
265          Hispanic       2050  60.923648 -159.753262
266          Hispanic       2060  58.753496 -156.694662
...               ...        ...        ...         ...
58887        Hispanic      56037  41.657740 -108.886499
58888        Hispanic      56039  43.926156 -110.594230
58889        Hispanic      56041  41.289493 -110.555808
58890        Hispanic      56043  43.903392 -107.686546
58891        Hispanic      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
349    2017           AK     Aleutians East
350    2017           AK     Aleutians West
351    2017           AK          Anchorage
352    2017           AK             Bethel
353    2017           AK        Bristol Bay
...     ...          ...                ...
58956  2017           WY  Sweetwater County
58957  2017           WY       Teton County
58958  2017           WY       Uinta County
58959  2017           WY    Washakie County
58960  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
349                                   NaN
350                                   NaN
351                                  95.2
352                                   NaN
353                                   NaN
...                                   ...
58956                                 NaN
58957                                 NaN
58958                                 NaN
58959                                 NaN
58960                                 NaN

                                         Data_Value_Type Stratification1  \
349    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
350    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
351    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
352    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
353    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
58956  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58957  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58958  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58959  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
58960  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

                  Stratification2  FIPS Code      Y_lat       X_lon
349    Asian and Pacific Islander       2013  55.442393 -161.959930
350    Asian and Pacific Islander       2016  53.648343 -166.917533
351    Asian and Pacific Islander       2020  61.159145 -149.104559
352    Asian and Pacific Islander       2050  60.923648 -159.753262
353    Asian and Pacific Islander       2060  58.753496 -156.694662
...                           ...        ...        ...         ...
58956  Asian and Pacific Islander      56037  41.657740 -108.886499
58957  Asian and Pacific Islander      56039  43.926156 -110.594230
58958  Asian and Pacific Islander      56041  41.289493 -110.555808
58959  Asian and Pacific Islander      56043  43.903392 -107.686546
58960  Asian and Pacific Islander      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
436    2017           AK     Aleutians East
437    2017           AK     Aleutians West
438    2017           AK          Anchorage
439    2017           AK             Bethel
440    2017           AK        Bristol Bay
...     ...          ...                ...
59025  2017           WY  Sweetwater County
59026  2017           WY       Teton County
59027  2017           WY       Uinta County
59028  2017           WY    Washakie County
59029  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
436                                   NaN
437                                   NaN
438                                 140.9
439                                 149.3
440                                   NaN
...                                   ...
59025                                 NaN
59026                                 NaN
59027                                 NaN
59028                                 NaN
59029                                 NaN

                                         Data_Value_Type Stratification1  \
436    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
437    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
438    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
439    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
440    Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
...                                                  ...             ...
59025  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
59026  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
59027  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
59028  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall
59029  Age-adjusted, Spatially Smoothed, 3-year Avera...         Overall

                          Stratification2  FIPS Code      Y_lat       X_lon
436    American Indian and Alaskan Native       2013  55.442393 -161.959930
437    American Indian and Alaskan Native       2016  53.648343 -166.917533
438    American Indian and Alaskan Native       2020  61.159145 -149.104559
439    American Indian and Alaskan Native       2050  60.923648 -159.753262
440    American Indian and Alaskan Native       2060  58.753496 -156.694662
...                                   ...        ...        ...         ...
59025  American Indian and Alaskan Native      56037  41.657740 -108.886499
59026  American Indian and Alaskan Native      56039  43.926156 -110.594230
59027  American Indian and Alaskan Native      56041  41.289493 -110.555808
59028  American Indian and Alaskan Native      56043  43.903392 -107.686546
59029  American Indian and Alaskan Native      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
29     2017           AK     Aleutians East
30     2017           AK     Aleutians West
31     2017           AK          Anchorage
32     2017           AK             Bethel
33     2017           AK        Bristol Bay
...     ...          ...                ...
58703  2017           WY  Sweetwater County
58704  2017           WY       Teton County
58705  2017           WY       Uinta County
58706  2017           WY    Washakie County
58707  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
29                                    NaN
30                                    0.0
31                                   57.5
32                                  111.1
33                                    NaN
...                                   ...
58703                                61.4
58704                                58.7
58705                                60.1
58706                                51.2
58707                                52.8

                                         Data_Value_Type Stratification1  \
29     Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
30     Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
31     Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
32     Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
33     Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
...                                                  ...             ...
58703  Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
58704  Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
58705  Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
58706  Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
58707  Age-adjusted, Spatially Smoothed, 3-year Avera...            Male

      Stratification2  FIPS Code      Y_lat       X_lon
29            Overall       2013  55.442393 -161.959930
30            Overall       2016  53.648343 -166.917533
31            Overall       2020  61.159145 -149.104559
32            Overall       2050  60.923648 -159.753262
33            Overall       2060  58.753496 -156.694662
...               ...        ...        ...         ...
58703         Overall      56037  41.657740 -108.886499
58704         Overall      56039  43.926156 -110.594230
58705         Overall      56041  41.289493 -110.555808
58706         Overall      56043  43.903392 -107.686546
58707         Overall      56045  43.841816 -104.571415

[3226 rows x 10 columns]
       Year LocationAbbr       LocationDesc  \
116    2017           AK     Aleutians East
117    2017           AK     Aleutians West
118    2017           AK          Anchorage
119    2017           AK             Bethel
120    2017           AK        Bristol Bay
...     ...          ...                ...
58772  2017           WY  Sweetwater County
58773  2017           WY       Teton County
58774  2017           WY       Uinta County
58775  2017           WY    Washakie County
58776  2017           WY      Weston County

       Data_Value(per 100,000 population)  \
116                                   NaN
117                                   NaN
118                                  43.5
119                                  74.8
120                                   NaN
...                                   ...
58772                                59.8
58773                                57.3
58774                                59.8
58775                                49.2
58776                                54.1

                                         Data_Value_Type Stratification1  \
116    Age-adjusted, Spatially Smoothed, 3-year Avera...            Male
117    Age-adjusted, Spatially Smoothed, 3-year Avera...            Male

In [ ]:
stroke_data

,Year,LocationAbbr,LocationDesc,"Stroke_Data_Value_Overall(per 100,000 population)",Data_Value_Type,FIPS Code,Y_lat,X_lon,"Stroke_Data_Value_Overall_Overall(per 100,000 population)","Stroke_Data_Value_Overall_White(per 100,000 population)",...,"Stroke_Data_Value_Male_Black(per 100,000 population)","Stroke_Data_Value_Male_Hispanic(per 100,000 population)","Stroke_Data_Value_Male_Asian and Pacific Islander(per 100,000 population)","Stroke_Data_Value_Male_American Indian and Alaskan Native(per 100,000 population)","Stroke_Data_Value_Female_Overall(per 100,000 population)","Stroke_Data_Value_Female_White(per 100,000 population)","Stroke_Data_Value_Female_Black(per 100,000 population)","Stroke_Data_Value_Female_Hispanic(per 100,000 population)","Stroke_Data_Value_Female_Asian and Pacific Islander(per 100,000 population)","Stroke_Data_Value_Female_American Indian and Alaskan Native(per 100,000 population)"
0,2017,AK,Aleutians East,2.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2013,55.442393,-161.959930,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,AK,Aleutians West,0.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2016,53.648343,-166.917533,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,AK,Anchorage,67.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2020,61.159145,-149.104559,67.2,55.7,...,59.2,22.5,129.8,136.8,71.5,63.0,115.2,40.0,72.5,146.2
3,2017,AK,Bethel,104.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2050,60.923648,-159.753262,104.6,70.0,...,NaN,NaN,NaN,167.5,81.8,64.7,NaN,NaN,NaN,136.5
4,2017,AK,Bristol Bay,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2060,58.753496,-156.694662,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,2017,WY,Sweetwater County,61.7,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56037,41.657740,-108.886499,61.7,60.3,...,NaN,NaN,NaN,NaN,65.6,63.7,NaN,NaN,NaN,NaN
3222,2017,WY,Teton County,60.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56039,43.926156,-110.594230,60.2,59.4,...,NaN,NaN,NaN,NaN,56.0,60.6,NaN,NaN,NaN,NaN
3223,2017,WY,Uinta County,62.9,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56041,41.289493,-110.555808,62.9,61.4,...,NaN,NaN,NaN,NaN,66.2,62.8,NaN,NaN,NaN,NaN
3224,2017,WY,Washakie County,60.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56043,43.903392,-107.686546,60.6,58.7,...,NaN,NaN,NaN,NaN,67.4,65.2,NaN,NaN,NaN,NaN
3225,2017,WY,Weston County,67.1,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56045,43.841816,-104.571415,67.1,66.1,...,NaN,NaN,NaN,NaN,79.1,77.6,NaN,NaN,NaN,NaN

In [ ]:
stroke_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Stroke_Data_2017_Cleaned.csv')

## Heart_Dataset_2015_3_year_average

Cleaning the heart dataset

In [ ]:
heart = h = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/Stroke_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County___2016-2018.csv')

In [ ]:
columns = heart.columns

In [ ]:
columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Y_lat', 'X_lon'],
      dtype='object')

In [ ]:
heart['Data_Value_Type'].unique()

array(['Age-adjusted, Spatially Smoothed, 3-year Average Rate',
       'Age-adjusted, 3-year Average Rate'], dtype=object)

In [ ]:
heart = heart[heart['GeographicLevel'] == 'County']

In [ ]:
extra_cols = (['DataSource','Class', 'Topic','Data_Value_Footnote','Data_Value_Unit','Data_Value_Footnote_Symbol','StratificationCategory1','StratificationCategory2','TopicID','GeographicLevel'])

In [ ]:
heart = heart.drop(extra_cols,axis = 1)

In [ ]:
heart.rename(columns = {'Data_Value' : 'Data_Value(per 100,000 population)','LocationID' : 'FIPS Code'},inplace = True)

In [ ]:
heart.columns

Index(['Year', 'LocationAbbr', 'LocationDesc',
       'Data_Value(per 100,000 population)', 'Data_Value_Type',
       'Stratification1', 'Stratification2', 'FIPS Code', 'Y_lat', 'X_lon'],
      dtype='object')

In [ ]:
heart_data = heart[(heart['Stratification1'] == 'Overall') & (heart['Stratification2'] == 'Overall')]

In [ ]:
heart_data.drop(['Stratification1','Stratification2'],axis = 1,inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
heart_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Heart_Data_Value_Overall(per 100,000 population)'},inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
heart

,Year,LocationAbbr,LocationDesc,"Data_Value(per 100,000 population)",Data_Value_Type,Stratification1,Stratification2,FIPS Code,Y_lat,X_lon
0,2017,AK,Aleutians East,2.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2013,55.442393,-161.959930
1,2017,AK,Aleutians West,0.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2016,53.648343,-166.917533
2,2017,AK,Anchorage,67.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2020,61.159145,-149.104559
3,2017,AK,Bethel,104.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2050,60.923648,-159.753262
4,2017,AK,Bristol Bay,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Overall,Overall,2060,58.753496,-156.694662
...,...,...,...,...,...,...,...,...,...,...
59071,2017,WY,Sweetwater County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56037,41.657740,-108.886499
59072,2017,WY,Teton County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56039,43.926156,-110.594230
59073,2017,WY,Uinta County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56041,41.289493,-110.555808
59074,2017,WY,Washakie County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56043,43.903392,-107.686546
59075,2017,WY,Weston County,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",Female,American Indian and Alaskan Native,56045,43.841816,-104.571415

In [ ]:
for i in h['Stratification1'].unique():
  for j in h['Stratification2'].unique():
    df = heart[(heart['Stratification1'] == i) & (heart['Stratification2'] == j)]
    heart_data = heart_data.merge(df[['Data_Value(per 100,000 population)','FIPS Code']],on = 'FIPS Code',how = 'outer')
    heart_data.rename(columns = {'Data_Value(per 100,000 population)' : f'Heart_Data_Value_{i}_{j}(per 100,000 population)','FIPS Code_x': 'FIPS Code'},inplace = True)

In [ ]:
heart_data

,Year,LocationAbbr,LocationDesc,"Heart_Data_Value_Overall(per 100,000 population)",Data_Value_Type,FIPS Code,Y_lat,X_lon,"Heart_Data_Value_Overall_Overall(per 100,000 population)","Heart_Data_Value_Overall_White(per 100,000 population)",...,"Heart_Data_Value_Male_Black(per 100,000 population)","Heart_Data_Value_Male_Hispanic(per 100,000 population)","Heart_Data_Value_Male_Asian and Pacific Islander(per 100,000 population)","Heart_Data_Value_Male_American Indian and Alaskan Native(per 100,000 population)","Heart_Data_Value_Female_Overall(per 100,000 population)","Heart_Data_Value_Female_White(per 100,000 population)","Heart_Data_Value_Female_Black(per 100,000 population)","Heart_Data_Value_Female_Hispanic(per 100,000 population)","Heart_Data_Value_Female_Asian and Pacific Islander(per 100,000 population)","Heart_Data_Value_Female_American Indian and Alaskan Native(per 100,000 population)"
0,2017,AK,Aleutians East,2.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2013,55.442393,-161.959930,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,AK,Aleutians West,0.0,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2016,53.648343,-166.917533,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,AK,Anchorage,67.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2020,61.159145,-149.104559,67.2,55.7,...,59.2,22.5,129.8,136.8,71.5,63.0,115.2,40.0,72.5,146.2
3,2017,AK,Bethel,104.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2050,60.923648,-159.753262,104.6,70.0,...,NaN,NaN,NaN,167.5,81.8,64.7,NaN,NaN,NaN,136.5
4,2017,AK,Bristol Bay,NaN,"Age-adjusted, Spatially Smoothed, 3-year Avera...",2060,58.753496,-156.694662,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,2017,WY,Sweetwater County,61.7,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56037,41.657740,-108.886499,61.7,60.3,...,NaN,NaN,NaN,NaN,65.6,63.7,NaN,NaN,NaN,NaN
3222,2017,WY,Teton County,60.2,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56039,43.926156,-110.594230,60.2,59.4,...,NaN,NaN,NaN,NaN,56.0,60.6,NaN,NaN,NaN,NaN
3223,2017,WY,Uinta County,62.9,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56041,41.289493,-110.555808,62.9,61.4,...,NaN,NaN,NaN,NaN,66.2,62.8,NaN,NaN,NaN,NaN
3224,2017,WY,Washakie County,60.6,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56043,43.903392,-107.686546,60.6,58.7,...,NaN,NaN,NaN,NaN,67.4,65.2,NaN,NaN,NaN,NaN
3225,2017,WY,Weston County,67.1,"Age-adjusted, Spatially Smoothed, 3-year Avera...",56045,43.841816,-104.571415,67.1,66.1,...,NaN,NaN,NaN,NaN,79.1,77.6,NaN,NaN,NaN,NaN

In [ ]:
heart_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Heart_Data_2015_Cleaned.csv')

## Cardiovascular_Diseases_Dataset_10_year_average

Cleaning the cardiovascular diseases dataset

In [ ]:
cardio = cv = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/Rates_and_Trends_in_Hypertension-related_Cardiovascular_Disease_Mortality_Among_US_Adults__35___by_County__Age_Group__Race_Ethnicity__and_Sex___2000-2019.csv')

In [ ]:
cardio.shape

In [ ]:
columns = cardio.columns

In [ ]:
columns

In [ ]:
common_cols = []

In [ ]:
cardio['Data_Value_Type'].unique()

In [ ]:
for i in columns:  
  print(i,cardio[i].unique())
  if len(cardio[i].unique()) <= 1:
     common_cols.append(i)

In [ ]:
common_cols

In [ ]:
cardio.drop(common_cols,axis = 1,inplace = True)

In [ ]:
cardio.drop(['Data_Value_Footnote_Symbol','Data_Value_Footnote'],axis = 1,inplace = True)

In [ ]:
cardio.shape

In [ ]:
cardio.rename(columns = {'Data_Value' : 'Data_Value(per 100,000 population)','LocationID' : 'FIPS Code'},inplace = True)

In [ ]:
cardio.columns

In [ ]:
cardio = cardio[cardio['Data_Value_Type'] == 'Age-Standardized, Spatiotemporally Smoothed Rate']

In [ ]:
cardio['Data_Value_Unit'].unique()

In [ ]:
cardio.drop(['Data_Value_Type','Data_Value_Unit'],axis = 1,inplace = True)

In [ ]:
cardio.drop(['Confidence_limit_Low', 'Confidence_limit_High'],axis = 1,inplace = True)

In [ ]:
cardio_data = cardio[(cardio['Year'] == '2000') & (cardio['Stratification1'] == 'Ages 35-64 years') & (cardio['Stratification2'] == 'Overall') & (cardio['Stratification3'] == 'Overall')]

In [ ]:
cardio_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall'},inplace = True)

In [ ]:
cardio_data

In [ ]:
cardio_data.drop(['Stratification1','Stratification2','Stratification3','Year'],axis = 1,inplace = True)

In [ ]:
years = [str(i) for i in range(2000,2020)]

In [ ]:
for year in years:
  for i in cv['Stratification1'].unique():
    for j in cv['Stratification2'].unique():
      for k in cv['Stratification3'].unique():
          df = cardio[(cardio['Year'] == year) & (cardio['Stratification1'] == i) & (cardio['Stratification2'] == j) & (cardio['Stratification3'] == k)]
          print(cardio_data.columns)
          cardio_data = cardio_data.merge(df[['Data_Value(per 100,000 population)','FIPS Code']],on = 'FIPS Code',how = 'outer')
          cardio_data.rename(columns = {'Data_Value(per 100,000 population)' : f'CV_Data_Value_{year}_{i}_{j}_{k}(per 100,000 population)','FIPS Code_x': 'FIPS Code'},inplace = True)

In [ ]:
cardio_data

In [ ]:
cardio_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/CardioVascular_Hypertension_and_related_Data_2000_2019_Cleaned.csv',index = False)

## Heart_Diseases_Stroke_Dataset_10_year_average

Cleaning the heart diseases dataset

In [ ]:
cardio = cv = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/Rates_and_Trends_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults__35___by_County__Age_Group__Race_Ethnicity__and_Sex___2000-2019.csv')

In [ ]:
cardio.shape

In [ ]:
columns = cardio.columns

In [ ]:
columns

In [ ]:
common_cols = []

In [ ]:
year = cardio['Year'].unique()

In [ ]:
year = list(year)

In [ ]:
for i in year:
  if str(i) in year:
      year.remove(str(i))

In [ ]:
year.sort()

In [ ]:
year

In [ ]:
diseases = list(cardio['Topic'].unique())

In [ ]:
diseases

In [ ]:
all_heart_diseases = cardio[cardio['Topic'] == 'All heart disease']
all_stroke = cardio[cardio['Topic'] == 'All stroke']
chd = cardio[cardio['Topic'] == 'Coronary heart disease (CHD)']
cvd = cardio[cardio['Topic'] == 'Cardiovascular disease (CVD)']
heart_failure = cardio[cardio['Topic'] == 'Heart failure']

In [ ]:
datasets = [all_heart_diseases,all_stroke,chd,cvd,heart_failure]

In [ ]:
all_heart_diseases.drop(['Stratification2'],axis = 1,inplace = True)
all_stroke.drop(['Stratification2'],axis = 1,inplace = True)
chd.drop(['Stratification2'],axis = 1,inplace = True)
cvd.drop(['Stratification2'],axis = 1,inplace = True)
heart_failure.drop(['Stratification2'],axis = 1,inplace = True)

In [ ]:
all_heart_diseases = all_heart_diseases[all_heart_diseases['Stratification2'] == 'Overall']
all_stroke = all_stroke[all_stroke['Stratification2'] == 'Overall']
chd = chd[chd['Stratification2'] == 'Overall']
cvd = cvd[cvd['Stratification2'] == 'Overall']
heart_failure = heart_failure[heart_failure['Stratification2'] == 'Overall']

In [ ]:
chd

In [ ]:
for i in cardio.columns:  
  print(i,cardio[i].unique())
  if len(cardio[i].unique()) <= 1:
     common_cols.append(i)

In [ ]:
common_cols

In [ ]:
cardio.drop(common_cols,axis = 1,inplace = True)

In [ ]:
cardio.drop(['Data_Value_Footnote_Symbol','Data_Value_Footnote'],axis = 1,inplace = True)

In [ ]:
cardio.shape

In [ ]:
cardio.rename(columns = {'Data_Value' : 'Data_Value(per 100,000 population)','LocationID' : 'FIPS Code'},inplace = True)

In [ ]:
cardio.columns

In [ ]:
cardio = cardio[cardio['Data_Value_Type'] == 'Age-Standardized, Spatiotemporally Smoothed Rate']

In [ ]:
cardio['Data_Value_Unit'].unique()

In [ ]:
cardio.drop(['Data_Value_Type','Data_Value_Unit'],axis = 1,inplace = True)

In [ ]:
cardio.drop(['Confidence_limit_Low', 'Confidence_limit_High'],axis = 1,inplace = True)

In [ ]:
cardio_data = cardio[(cardio['Year'] == '2000') & (cardio['Stratification1'] == 'Ages 35-64 years') & (cardio['Stratification3'] == 'Overall')]

In [ ]:
all_heart_diseases_data  = all_heart_diseases[((all_heart_diseases['Year'] == '2000') | (all_heart_diseases['Year'] == 2000)) & (all_heart_diseases['Stratification1'] == 'Ages 35-64 years') & (all_heart_diseases['Stratification3'] == 'Overall')]
all_stroke_data  = all_stroke[((all_stroke['Year'] == '2000') | (all_stroke['Year'] == 2000)) & (all_stroke['Stratification1'] == 'Ages 35-64 years') & (all_stroke['Stratification3'] == 'Overall')]
chd_data  = chd[((chd['Year'] == '2000') |(chd['Year'] == 2000)) & (chd['Stratification1'] == 'Ages 35-64 years') & (chd['Stratification3'] == 'Overall')]
cvd_data  = cvd[((cvd['Year'] == '2000') | (cvd['Year'] == 2000)) & (cvd['Stratification1'] == 'Ages 35-64 years') & (cvd['Stratification3'] == 'Overall')]
heart_failure_data  = heart_failure[((heart_failure['Year'] == '2000')| (heart_failure['Year'] == 2000)) & (heart_failure['Stratification1'] == 'Ages 35-64 years') & (heart_failure['Stratification3'] == 'Overall')]

In [ ]:
all_heart_diseases_data

,Year,LocationAbbr,LocationDesc,Topic,Data_Value_35_overall_overall_2000,Stratification1,Stratification3,FIPS Code
122,2000,AL,Autauga,All heart disease,160.1,Ages 35-64 years,Overall,1001
1808,2000,AL,Baldwin,All heart disease,121.4,Ages 35-64 years,Overall,1003
3494,2000,AL,Barbour,All heart disease,204.9,Ages 35-64 years,Overall,1005
5179,2000,AL,Bibb,All heart disease,164.7,Ages 35-64 years,Overall,1007
6847,2000,AL,Blount,All heart disease,142.0,Ages 35-64 years,Overall,1009
...,...,...,...,...,...,...,...,...
5260222,2000,WY,Sweetwater,All heart disease,109.3,Ages 35-64 years,Overall,56037
5261906,2000,WY,Teton,All heart disease,49.8,Ages 35-64 years,Overall,56039
5263577,2000,WY,Uinta,All heart disease,103.9,Ages 35-64 years,Overall,56041
5265261,2000,WY,Washakie,All heart disease,104.6,Ages 35-64 years,Overall,56043
5266941,2000,WY,Weston,All heart disease,94.9,Ages 35-64 years,Overall,56045

In [ ]:
all_heart_diseases_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall_2000'},inplace = True)
all_stroke_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall_2000'},inplace = True)
chd_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall_2000'},inplace = True)
cvd_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall_2000'},inplace = True)
heart_failure_data.rename(columns = {'Data_Value(per 100,000 population)' : 'Data_Value_35_overall_overall_2000'},inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
cardio_data

In [ ]:
cardio_data.drop(['Stratification1','Stratification2','Stratification3','Year'],axis = 1,inplace = True)

In [ ]:
for y in year:
  for i in cvd['Stratification1'].unique():
      for k in heart_failure['Stratification3'].unique():
          df = heart_failure[((heart_failure['Year'] == y) | (heart_failure['Year'] == str(y))) & (heart_failure['Stratification1'] == i) & (heart_failure['Stratification3'] == k)]
          print(all_heart_diseases_data.columns)
          all_heart_diseases_data = all_heart_diseases_data.merge(df[['Data_Value(per 100,000 population)','FIPS Code']],on = 'FIPS Code',how = 'outer')
          all_heart_diseases_data.rename(columns = {'Data_Value(per 100,000 population)' : f'Heart_Failure_Data_Value_{y}_{i}_{k}(per 100,000 population)','FIPS Code_x': 'FIPS Code'},inplace = True)

In [ ]:
all_heart_diseases_data

In [ ]:
all_heart_diseases_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Heart_Diseases_Stroke_and_related_Data_2000_2019_Cleaned.csv',index = False)

## CKD_2005_2019

In [ ]:
ckd = pd.read_excel('/content/drive/MyDrive/MediDoor/Datasets/Prevalence_of_CKD_by_US_State_and_County_by_County_2019.xlsm','Data For Entire Data Source')

In [ ]:
ckd.sort_values(by = ['Year','State','County'],inplace = True)

In [ ]:
ckd_data = ckd[0:3124]

In [ ]:
ckd_data.rename(columns = {'Main Value':'CKD_Value_2005'},inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
ckd_data

       CKD_Value_2005      County    State  Year
0                9.95     AUTAUGA  Alabama  2005
15               8.49     BALDWIN  Alabama  2005
30              15.86     BARBOUR  Alabama  2005
45               9.64        BIBB  Alabama  2005
60              14.11      BLOUNT  Alabama  2005
...               ...         ...      ...   ...
46781           11.41  SWEETWATER  Wyoming  2005
46796            8.86       TETON  Wyoming  2005
46811            4.48       UINTA  Wyoming  2005
46826            5.17    WASHAKIE  Wyoming  2005
46841            6.25      WESTON  Wyoming  2005

[3124 rows x 4 columns]

In [ ]:

for i in range(2006,2020):
  df = ckd[ckd['Year'] == i]
  print(ckd_data)
  ckd_data = ckd_data.merge(df[['Main Value','County','State']],on = ['County','State'],how = 'left')
  ckd_data.rename(columns = {'Main Value' : f'CKD_Value_{i}'},inplace = True)

In [ ]:
ckd_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/CKD Data')

# Data Preprocessing

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Heart_Diseases_Stroke_and_related_Data_1999_2019_Cleaned - Heart_Diseases_Stroke_and_related_Data_2000_2019_Cleaned.csv')

In [ ]:
data

In [ ]:
extra = []
for i in data.columns:
  if 'men' in i.lower() or 'women' in i.lower():
    extra.append(i)

In [ ]:
len(extra)

In [ ]:
data.drop(extra,axis = 1,inplace = True)

In [ ]:
columns = data.columns

In [ ]:
ahd_columns = [i for i in columns if 'All_Heart_Diseases' in i]
stroke_columns = [i for i in columns if 'All_Stroke' in i]
chd_columns = [i for i in columns if 'Coronary' in i]
cvd_columns = [i for i in columns if 'Cardiovascular' in i]
hf_columns = [i for i in columns if 'Heart_Failure' in i]

In [ ]:
ahd_35 = [i for i in ahd_columns if '35' in i]
ahd_64 = [i for i in ahd_columns if '64+' in i]
as_35 = [i for i in stroke_columns if '35' in i]
as_64 = [i for i in stroke_columns if '64+' in i]
chd_35 = [i for i in chd_columns if '35' in i]
chd_64 = [i for i in chd_columns if '64+' in i]
cvd_35 = [i for i in cvd_columns if '35' in i]
cvd_64 = [i for i in cvd_columns if '64+' in i]
hf_35 = [i for i in hf_columns if '35' in i]
hf_64 = [i for i in hf_columns if '64+' in i]

In [ ]:
len(ahd_35)

In [ ]:
data['All_Heart_Diseases_Trend_35-64'] = 0
data['All_Heart_Diseases_Trend_64+'] = 0
data['All_Stroke_Trend_35-64'] = 0
data['All_Stroke_Trend_64+'] = 0
data['Coronary_Heart_Diseases_Trend_35-64'] = 0
data['Coronary_Heart_Diseases_Trend_64+'] = 0
data['Cardiovascular_Diseases_Trend_35-64'] = 0
data['Cardiovascular_Diseases_Trend_64+'] = 0
data['Heart_Failures_Trend_35-64'] = 0
data['Heart_Failures_Trend_64+'] = 0

In [ ]:
ahd_35

In [ ]:
data

In [ ]:

for j in range(3136):
#  curr = data[ahd_35[0]].values[j]
  count = 0
  for i in range(len(hf_64)-1):
 #   if count > max_count:
      #  max_count = count
    if data[hf_64[i+1]].values[j] < data[hf_64[i]].values[j]:
       # curr = data[ahd_64[i]].values[j]
        count = 0
    elif data[hf_64[i+1]].values[j] > data[hf_64[i]].values[j]:
        count += 1
  data['Heart_Failures_Trend_64+'].values[j] = count
  #print(data['All_Heart_Diseases_Trend_64+'])

In [ ]:
data

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Dataset1.csv',index = False)

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/MediDoor/Datasets/US Counties.xlsx',dtype={"FIPS CODE":"str"})

In [ ]:
df['FIPS CODE'].fillna(0,inplace = True)

In [ ]:
df['FIPS CODE'] = df['FIPS CODE'].astype(int)

In [ ]:
df

In [ ]:
data =  pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Dataset1.csv')

In [ ]:
columns = list(data.columns)[-10:]

In [ ]:
columns

In [ ]:
for i in columns:
  data[f'{i}'] += 1

In [ ]:
data

In [ ]:
data.rename(columns = {'FIPS Code':'FIPS CODE'},inplace = True)

In [ ]:
data = data.merge(df[['2010 POPULATION','LAND AREA (Sqare Miles)','FIPS CODE']],on = 'FIPS CODE',how = 'left')

## Hospitals

In [ ]:
data['Hospitals'] = 0

In [ ]:
data

In [ ]:
hos_address = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/Hospital_Additional_Addresses.csv',encoding = 'latin1')

In [ ]:
hos_address

In [ ]:
for i in hos_address:  
  hos_address['CITY'] = hos_address['CITY'].str.title()

In [ ]:
county_city = pd.read_csv('/content/drive/MyDrive/MediDoor/Datasets/uscities.csv')

In [ ]:
county_city

In [ ]:
for i in range(25169):
  for row in range(30410):
    try:
      if (hos_address['CITY'].values[i] == county_city['city'].values[row]) and (hos_address['STATE'].values[i] == county_city['state_id'].values[row]):
        fips = county_city['county_fips'].values[row]
        index = int(data[data['FIPS CODE'] == fips].index[0])
        data['Number of Hospitals'].values[index] += 1        
        break
    except IndexError:
      pass

In [ ]:
data

In [ ]:
index = int(data[data['FIPS CODE'] == 1001].index[0])
data['Number of Hospitals'].values[index] += 1

In [ ]:
temp = data[data['Number of Hospitals'] == 0]

In [ ]:
temp = temp.sort_values(by = '2010 POPULATION',ascending = False)

In [ ]:
temp[:20]

,FIPS CODE,State,County,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)",...,All_Stroke_Trend_64+,Coronary_Heart_Diseases_Trend_35-64,Coronary_Heart_Diseases_Trend_64+,Cardiovascular_Diseases_Trend_35-64,Cardiovascular_Diseases_Trend_64+,Heart_Failures_Trend_35-64,Heart_Failures_Trend_64+,2010 POPULATION,LAND AREA (Sqare Miles),Number of Hospitals
1852,36061,NY,New York,118.7,1989.6,104.3,1802.4,102.8,1673.0,103.5,...,1,1,1,1,1,1,1,1585873.0,22.829,0
1591,29510,MO,St. Louis,276.7,2399.3,248.0,2214.9,241.8,2156.9,247.0,...,1,1,1,1,1,4,1,319294.0,61.909,0
2341,45063,SC,Lexington,119.1,1593.8,123.5,1600.6,118.2,1541.1,116.1,...,1,1,1,1,1,5,1,262391.0,698.913,0
2820,51013,VA,Arlington,71.9,1286.0,73.8,1271.6,67.9,1237.7,61.7,...,1,1,1,3,1,8,1,207627.0,25.974,0
62,1125,AL,Tuscaloosa,166.5,1926.1,157.0,1831.9,158.5,1822.9,157.1,...,1,1,1,1,1,1,1,194656.0,1321.755,0
368,12109,FL,St. Johns,73.0,1269.0,73.7,1249.9,73.3,1257.4,65.4,...,1,2,1,1,1,1,1,190039.0,600.655,0
2899,51179,VA,Stafford,87.2,1583.1,94.7,1674.5,91.6,1628.1,88.0,...,1,1,1,1,1,9,1,128961.0,268.956,0
2309,44009,RI,Washington,73.8,1770.8,69.8,1665.3,69.0,1609.0,73.0,...,1,2,1,4,1,2,1,126979.0,329.235,0
2898,51177,VA,Spotsylvania,110.9,1513.5,114.2,1543.2,109.2,1481.8,110.3,...,1,1,1,1,1,1,1,122397.0,401.496,0
2707,48381,TX,Randall,112.5,1558.5,97.4,1279.3,93.6,1275.4,96.0,...,1,1,1,1,1,9,1,120725.0,911.544,0
2352,45085,SC,Sumter,149.8,1643.5,150.5,1652.1,142.6,1583.1,142.1,...,1,1,1,1,1,9,1,107456.0,665.066,0
1204,24037,MD,St. Mary's,108.3,1482.1,131.7,1929.3,130.0,1865.9,117.2,...,1,3,1,3,1,4,1,105151.0,357.180,0
3060,55039,WI,Fond du Lac,103.8,1599.3,104.7,1635.7,99.8,1536.7,95.5,...,1,2,1,2,1,5,1,101633.0,719.553,0
1876,36109,NY,Tompkins,96.1,1679.1,83.8,1505.2,80.3,1444.1,78.5,...,1,1,1,3,1,1,1,101564.0,474.649,0
1193,24015,MD,Cecil,131.0,2059.7,131.0,2022.8,127.0,2015.1,123.0,...,1,1,1,1,1,3,1,101108.0,346.273,0
487,13217,GA,Newton,149.1,1809.2,151.7,1858.6,148.6,1793.5,148.8,...,1,1,1,3,1,1,1,99958.0,272.161,0
1208,24045,MD,Wicomico,159.2,1996.2,159.2,2108.0,153.5,2017.4,138.1,...,1,1,1,1,1,7,1,98733.0,374.444,0
2890,51161,VA,Roanoke,101.9,1655.0,101.6,1631.1,101.7,1579.6,103.6,...,1,4,1,3,1,7,1,92376.0,250.518,0
1559,29165,MO,Platte,87.0,1575.5,81.5,1464.1,80.2,1418.8,86.5,...,1,3,1,7,1,9,1,89322.0,420.190,0
1487,29021,MO,Buchanan,161.3,1950.5,152.6,1825.5,146.3,1726.7,146.0,...,1,3,1,4,1,9,1,89201.0,408.027,0

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/PreFinal Dataset2.csv')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/PreFinal Dataset2.csv')

In [ ]:
data['Average Hospital Approximity'] = data['LAND AREA (Sqare Miles)']/data['Number of Hospitals']

In [ ]:
data['Number of People(per 1 hospital)'] = data['2010 POPULATION']/data['Number of Hospitals']

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/PreFinal Dataset3.csv')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/PreFinal Dataset3.csv')

In [ ]:
ckd_data['County'] = ckd_data['County'].str.title()

In [ ]:
ckd_data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/CKD Data')

In [ ]:
ckd_data.drop(columns = ['Unnamed: 0'],axis = 1)

In [ ]:
ckd_data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/CKD Data.csv',index = False)

In [ ]:
ckd_data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/CKD Data.csv')

In [ ]:
ckd_data

In [ ]:
data = data.merge(ckd_data,on = ['County'],how = 'inner')

In [ ]:
ckd_data['County'] = ckd_data['County'].str.title()

In [ ]:
ckd_data

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/MediDoor/Datasets/US Counties.xlsx')

In [ ]:
df['FIPS CODE'] = df['FIPS CODE'].astype(int)

In [ ]:
df['FIPS CODE'] = df['FIPS CODE'].fillna(0)

In [ ]:
df['COUNTY NAME'] = df['COUNTY NAME'].str.rstrip('County')

In [ ]:
df['COUNTY NAME'] = df['COUNTY NAME'].str.rstrip('Parish')

In [ ]:
df['COUNTY NAME'] = df['COUNTY NAME'].str.rstrip('Census Area')

In [ ]:
df['COUNTY NAME'] = df['COUNTY NAME'].str.rstrip('Municipality')

In [ ]:
df.rename(columns = {'STATE/TERRITORY NAME' : 'State','COUNTY NAME':'County'},inplace = True)

In [ ]:
df['County'] = df['County'].str.title()

In [ ]:
ckd_data['County']=ckd_data['County'].str.strip()

In [ ]:
df2 = ckd_data.merge(df,how = 'left',on = ['County','State'])

In [ ]:
data = data.merge(df1,on = 'FIPS CODE',how = 'left')

In [ ]:
data

,Unnamed: 0_x,Unnamed: 0.1,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)",...,STATE FIPS,COUNTY FIPS,2010 POPULATION_y,2015 POPULATION,LAND AREA (Sqare Miles)_y,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Population Density
0,0,0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,...,01,1.0,54571.0,55347.0,594.436,NaN,NaN,NaN,NaN,93.108425
1,1,1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,...,01,3.0,182265.0,203709.0,1589.784,NaN,NaN,NaN,NaN,128.136275
2,2,2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,...,01,5.0,27457.0,26489.0,884.876,NaN,NaN,NaN,NaN,29.935268
3,3,3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,...,01,7.0,22915.0,22583.0,622.582,NaN,NaN,NaN,NaN,36.273134
4,4,4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,...,01,9.0,57322.0,57673.0,644.776,NaN,NaN,NaN,NaN,89.446567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,3131,3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,...,56,37.0,43806.0,44626.0,10426.649,NaN,NaN,NaN,NaN,4.279994
3132,3132,3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,...,56,39.0,21294.0,23125.0,3995.379,NaN,NaN,NaN,NaN,5.787937
3133,3133,3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,...,56,41.0,21118.0,20822.0,2081.264,NaN,NaN,NaN,NaN,10.004497
3134,3134,3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,...,56,43.0,8533.0,8328.0,2238.549,NaN,NaN,NaN,NaN,3.720267
3135,3135,3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,...,56,45.0,7208.0,7234.0,2398.089,NaN,NaN,NaN,NaN,3.016569

In [ ]:
data.columns

Index(['FIPS CODE', 'State_x', 'County_x',
       'All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)',
       'All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)',
       ...
       'CKD_Value_2013', 'CKD_Value_2014', 'CKD_Value_2015', 'CKD_Value_2016',
       'CKD_Value_2017', 'CKD_Value_2018', 'CKD_Value_2019', 'STATE FIPS',
       'COUNTY FIPS', 'Population Density '],
      dtype='object', length=248)

In [ ]:
data

,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)",...,CKD_Value_2013,CKD_Value_2014,CKD_Value_2015,CKD_Value_2016,CKD_Value_2017,CKD_Value_2018,CKD_Value_2019,STATE FIPS,COUNTY FIPS,Population Density
0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,151.0,...,22.00,22.22,24.51,20.38,24.86,27.47,22.35,01,1.0,93.108425
1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,119.3,...,14.00,15.48,18.06,18.94,21.46,21.12,21.21,01,3.0,128.136275
2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,199.7,...,21.54,19.20,24.31,21.60,30.77,22.86,23.53,01,5.0,29.935268
3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,163.1,...,17.81,20.31,26.87,27.94,24.56,28.85,37.21,01,7.0,36.273134
4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,145.1,...,16.57,20.45,20.11,25.81,28.67,26.17,31.03,01,9.0,89.446567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,109.6,...,10.99,14.63,15.17,17.48,13.57,19.82,17.86,56,37.0,4.279994
3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,50.5,...,8.91,8.70,10.71,7.44,7.69,10.88,9.93,56,39.0,5.787937
3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,102.4,...,20.48,14.46,16.13,13.00,12.50,10.53,14.04,56,41.0,10.004497
3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,101.3,...,11.39,10.26,10.98,10.98,12.35,17.95,16.87,56,43.0,3.720267
3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,94.0,...,18.52,14.89,12.50,12.96,13.46,9.09,13.11,56,45.0,3.016569

In [ ]:
data.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0.1','2010 POPULATION_y', '2015 POPULATION',
       'LAND AREA (Sqare Miles)_y', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'State_y', 'County_y',],axis = 1,inplace = True)

In [ ]:
data.rename(columns = {'State_x' : 'State' , 'County_x' : 'County'})

,FIPS CODE,State,County,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)",...,CKD_Value_2013,CKD_Value_2014,CKD_Value_2015,CKD_Value_2016,CKD_Value_2017,CKD_Value_2018,CKD_Value_2019,STATE FIPS,COUNTY FIPS,Population Density
0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,151.0,...,22.00,22.22,24.51,20.38,24.86,27.47,22.35,01,1.0,93.108425
1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,119.3,...,14.00,15.48,18.06,18.94,21.46,21.12,21.21,01,3.0,128.136275
2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,199.7,...,21.54,19.20,24.31,21.60,30.77,22.86,23.53,01,5.0,29.935268
3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,163.1,...,17.81,20.31,26.87,27.94,24.56,28.85,37.21,01,7.0,36.273134
4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,145.1,...,16.57,20.45,20.11,25.81,28.67,26.17,31.03,01,9.0,89.446567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,109.6,...,10.99,14.63,15.17,17.48,13.57,19.82,17.86,56,37.0,4.279994
3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,50.5,...,8.91,8.70,10.71,7.44,7.69,10.88,9.93,56,39.0,5.787937
3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,102.4,...,20.48,14.46,16.13,13.00,12.50,10.53,14.04,56,41.0,10.004497
3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,101.3,...,11.39,10.26,10.98,10.98,12.35,17.95,16.87,56,43.0,3.720267
3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,94.0,...,18.52,14.89,12.50,12.96,13.46,9.09,13.11,56,45.0,3.016569

# Data Inference

In [ ]:
data

,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)",...,CKD_Value_2013,CKD_Value_2014,CKD_Value_2015,CKD_Value_2016,CKD_Value_2017,CKD_Value_2018,CKD_Value_2019,STATE FIPS,COUNTY FIPS,Population Density
0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,151.0,...,22.00,22.22,24.51,20.38,24.86,27.47,22.35,01,1.0,93.108425
1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,119.3,...,14.00,15.48,18.06,18.94,21.46,21.12,21.21,01,3.0,128.136275
2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,199.7,...,21.54,19.20,24.31,21.60,30.77,22.86,23.53,01,5.0,29.935268
3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,163.1,...,17.81,20.31,26.87,27.94,24.56,28.85,37.21,01,7.0,36.273134
4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,145.1,...,16.57,20.45,20.11,25.81,28.67,26.17,31.03,01,9.0,89.446567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,109.6,...,10.99,14.63,15.17,17.48,13.57,19.82,17.86,56,37.0,4.279994
3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,50.5,...,8.91,8.70,10.71,7.44,7.69,10.88,9.93,56,39.0,5.787937
3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,102.4,...,20.48,14.46,16.13,13.00,12.50,10.53,14.04,56,41.0,10.004497
3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,101.3,...,11.39,10.26,10.98,10.98,12.35,17.95,16.87,56,43.0,3.720267
3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,94.0,...,18.52,14.89,12.50,12.96,13.46,9.09,13.11,56,45.0,3.016569

In [ ]:
diseases = ['All_Heart_Diseases','All_Stroke','Coronary_Heart_Diseases','Cardiovascular_Diseases','Heart_Failure']

In [ ]:
for disease in diseases:
  m = f'{disease}_Average_Mortality'
  mp = f'{disease}_Average_Mortality(in %)'
  data[m] = 0
  data[mp] = 0
  for year in range(1999,2020):
    col1 = f'{disease}_Data_Value_{year}_Ages 35-64 years_Overall(per 100,000 population)'
    col2 = f'{disease}_Data_Value_{year}_Ages 65 years and older_Overall(per 100,000 population)'
    data[m] += data[col1]
    data[m] += data[col2]
  data[m] = (data[m]/20)
  data[m] = (data[m]*data['2010 POPULATION_x'])/100000
  data[mp] = (data[m]/data['2010 POPULATION_x'])*100

In [ ]:
disease = 'CKD'
m = f'{disease}_Average_Mortality'
mp = f'{disease}_Average_Mortality(in %)'
data[m] = 0
data[mp] = 0
for year in range(2005,2020):
    col1 = f'{disease}_Value_{year}'
    data[m] += data[col1]
data[m] = (data[m]/20)
data[m] = (data[m]*data['2010 POPULATION_x'])/100000
data[mp] = (data[m]/data['2010 POPULATION_x'])*100

In [ ]:
data

,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2002_Ages 35-64 years_Overall(per 100,000 population)",...,Coronary_Heart_Diseases_Average_Mortality,Cardiovascular_Diseases_Average_Mortality,Heart_Failure_Average_Mortality,All_Heart_Diseases_Average_Mortality(in %),All_Stroke_Average_Mortality(in %),Coronary_Heart_Diseases_Average_Mortality(in %),Cardiovascular_Diseases_Average_Mortality(in %),Heart_Failure_Average_Mortality(in %),CKD_Average_Mortality,CKD_Average_Mortality(in %)
0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,151.0,...,477.316166,1368.725265,423.782015,1.917710,0.435590,0.874670,2.508155,0.776570,7.549625,0.013834
1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,119.3,...,1552.250759,3839.029468,943.257828,1.572645,0.375335,0.851645,2.106290,0.517520,20.859318,0.011445
2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,199.7,...,152.659547,705.017508,173.924994,1.990675,0.452195,0.555995,2.567715,0.633445,3.897933,0.014197
3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,163.1,...,212.733694,612.202869,176.012407,1.858805,0.595330,0.928360,2.671625,0.768110,3.843418,0.016772
4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,145.1,...,488.179947,1347.230368,409.539895,1.838840,0.387640,0.851645,2.350285,0.714455,9.503414,0.016579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,109.6,...,408.030987,840.902166,259.024878,1.423000,0.374030,0.931450,1.919605,0.591300,4.407541,0.010061
3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,50.5,...,98.407027,267.276965,77.955205,0.927430,0.296535,0.462135,1.255175,0.366090,1.397099,0.006561
3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,102.4,...,183.595668,423.699937,86.558458,1.538200,0.370905,0.869380,2.006345,0.409880,1.714359,0.008118
3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,101.3,...,62.186797,149.757563,43.090797,1.375290,0.325580,0.728780,1.755040,0.504990,0.702565,0.008234
3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,94.0,...,56.583881,122.637633,41.676656,1.218780,0.313680,0.785015,1.701410,0.578200,0.546511,0.007582

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Prefinal Dataset.csv')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Prefinal Dataset.csv')

In [ ]:
data

In [ ]:
diseases = ['All_Heart_Diseases','All_Stroke','Coronary_Heart_Diseases','Cardiovascular_Diseases','Heart_Failure']

In [ ]:
for i in diseases:
  s = f'{i}_Trend'  
  s1 = f'{i}_Trend_35-64'
  s2 = f'{i}_Trend_64+'
  data[s] = data[[s1,s2]].max(axis = 1)

In [ ]:
data

,Unnamed: 0,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)",...,Coronary_Heart_Diseases_Average_Mortality(in %),Cardiovascular_Diseases_Average_Mortality(in %),Heart_Failure_Average_Mortality(in %),CKD_Average_Mortality,CKD_Average_Mortality(in %),All_Heart_Diseases_Trend,All_Stroke_Trend,Coronary_Heart_Diseases_Trend,Cardiovascular_Diseases_Trend,Heart_Failures_Trend
0,0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,...,0.874670,2.508155,0.776570,7.549625,0.013834,1,3,1,1,4
1,1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,...,0.851645,2.106290,0.517520,20.859318,0.011444,1,5,1,1,5
2,2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,...,0.555995,2.567715,0.633445,3.897933,0.014197,1,3,1,5,5
3,3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,...,0.928360,2.671625,0.768110,3.843418,0.016772,1,3,1,1,1
4,4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,...,0.851645,2.350285,0.714455,9.503414,0.016579,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,...,0.931450,1.919605,0.591300,4.407541,0.010061,1,2,1,1,3
3132,3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,...,0.462135,1.255175,0.366090,1.397099,0.006561,3,7,1,3,9
3133,3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,...,0.869380,2.006345,0.409880,1.714359,0.008118,1,4,1,1,11
3134,3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,...,0.728780,1.755040,0.504990,0.702565,0.008233,1,5,1,1,7
3135,3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,...,0.785015,1.701410,0.578200,0.546511,0.007582,1,1,1,2,3

In [ ]:
data.rename(columns = {'Heart_Failures_Trend' : 'Heart_Failure_Trend'},inplace = True)

In [ ]:
for i in diseases:
  impact = f'{i}_Impact(in %)'
  m = f'{i}_Average_Mortality(in %)'
  trend = f'{i}_Trend'
  data[impact] = data[m]*data[trend]

In [ ]:
data

,Unnamed: 0,FIPS CODE,State_x,County_x,"All_Heart_Diseases_Data_Value_1999_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_1999_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2000_Ages 65 years and older_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 35-64 years_Overall(per 100,000 population)","All_Heart_Diseases_Data_Value_2001_Ages 65 years and older_Overall(per 100,000 population)",...,All_Heart_Diseases_Trend,All_Stroke_Trend,Coronary_Heart_Diseases_Trend,Cardiovascular_Diseases_Trend,Heart_Failure_Trend,All_Heart_Diseases_Impact(in %),All_Stroke_Impact(in %),Coronary_Heart_Diseases_Impact(in %),Cardiovascular_Diseases_Impact(in %),Heart_Failure_Impact(in %)
0,0,1001,AL,Autauga,155.7,2028.1,160.1,2095.3,153.8,2086.8,...,1,3,1,1,4,1.917710,1.306770,0.874670,2.508155,3.106280
1,1,1003,AL,Baldwin,130.3,1658.2,121.4,1580.8,122.5,1570.1,...,1,5,1,1,5,1.572645,1.876675,0.851645,2.106290,2.587600
2,2,1005,AL,Barbour,209.4,1962.8,204.9,1925.1,204.6,1911.9,...,1,3,1,5,5,1.990675,1.356585,0.555995,12.838575,3.167225
3,3,1007,AL,Bibb,168.8,1780.9,164.7,1764.0,163.4,1734.6,...,1,3,1,1,1,1.858805,1.785990,0.928360,2.671625,0.768110
4,4,1009,AL,Blount,150.3,2081.5,142.0,1876.5,142.1,1864.9,...,1,2,1,1,1,1.838840,0.775280,0.851645,2.350285,0.714455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,3131,56037,WY,Sweetwater,107.9,1549.3,109.3,1543.9,107.7,1541.2,...,1,2,1,1,3,1.423000,0.748060,0.931450,1.919605,1.773900
3132,3132,56039,WY,Teton,52.4,1274.8,49.8,1115.4,50.0,1115.7,...,3,7,1,3,9,2.782290,2.075745,0.462135,3.765525,3.294810
3133,3133,56041,WY,Uinta,98.0,1569.8,103.9,1589.5,102.3,1566.7,...,1,4,1,1,11,1.538200,1.483620,0.869380,2.006345,4.508680
3134,3134,56043,WY,Washakie,106.8,1716.2,104.6,1597.2,101.2,1554.2,...,1,5,1,1,7,1.375290,1.627900,0.728780,1.755040,3.534930
3135,3135,56045,WY,Weston,95.6,1405.4,94.9,1323.6,93.0,1302.5,...,1,1,1,2,3,1.218780,0.313680,0.785015,3.402820,1.734600

In [ ]:
data['CKD_Trend'] = 0

In [ ]:
for j in range(3136):
#  curr = data[ahd_35[0]].values[j]
  count = 0
  for i in range(2005,2019):
 #   if count > max_count:
      #  max_count = count
      curr = f'CKD_Value_{i}'
      next = f'CKD_Value_{i}'
      if data[curr].values[j] < data[next].values[j]:
       # curr = data[ahd_64[i]].values[j]
        count = 0
      elif data[curr].values[j] > data[next].values[j]:
        count += 1
  data['CKD_Trend'].values[j] = count
  #print(data['All_Heart_Diseases_Trend_64+'])

In [ ]:
data['CKD_Trend'] += 1

In [ ]:
data['CKD_Impact(in %)'] = data['CKD_Average_Mortality(in %)']*data['CKD_Trend']

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Super Dataset.csv')

In [ ]:
extra = []
for i in data.columns:
  if '64' in i:
    extra.append(i)

In [ ]:
extra

['All_Heart_Diseases_Trend_35-64',
 'All_Heart_Diseases_Trend_64+',
 'All_Stroke_Trend_35-64',
 'All_Stroke_Trend_64+',
 'Coronary_Heart_Diseases_Trend_35-64',
 'Coronary_Heart_Diseases_Trend_64+',
 'Cardiovascular_Diseases_Trend_35-64',
 'Cardiovascular_Diseases_Trend_64+',
 'Heart_Failures_Trend_35-64',
 'Heart_Failures_Trend_64+']

In [ ]:
data.drop(columns = ['Unnamed: 0'],axis = 1,inplace = True)

In [ ]:
data.rename(columns = {'State_x' : 'State','County_x' : 'County','2010 POPULATION_x' : '2010 POPULATION','LAND AREA (Sqare Miles)_x' : 'LAND AREA (Sqare Miles)'},inplace = True)

In [ ]:
data.columns

Index(['FIPS CODE', 'State', 'County', '2010 POPULATION',
       'LAND AREA (Sqare Miles)', 'Number of Hospitals',
       'Average Hospital Approximity', 'Number of People(per 1 hospital)',
       'STATE FIPS', 'COUNTY FIPS', 'Population Density ',
       'All_Heart_Diseases_Average_Mortality', 'All_Stroke_Average_Mortality',
       'Coronary_Heart_Disease_Average_Mortality',
       'Coronary_Heart_Diseases_Average_Mortality',
       'Cardiovascular_Diseases_Average_Mortality',
       'Heart_Failure_Average_Mortality',
       'All_Heart_Diseases_Average_Mortality(in %)',
       'All_Stroke_Average_Mortality(in %)',
       'Coronary_Heart_Diseases_Average_Mortality(in %)',
       'Cardiovascular_Diseases_Average_Mortality(in %)',
       'Heart_Failure_Average_Mortality(in %)', 'CKD_Average_Mortality',
       'CKD_Average_Mortality(in %)', 'All_Heart_Diseases_Trend',
       'All_Stroke_Trend', 'Coronary_Heart_Diseases_Trend',
       'Cardiovascular_Diseases_Trend', 'Heart_Failure_Trend',
       'All_Heart_Diseases_Impact(in %)', 'All_Stroke_Impact(in %)',
       'Coronary_Heart_Diseases_Impact(in %)',
       'Cardiovascular_Diseases_Impact(in %)', 'Heart_Failure_Impact(in %)',
       'CKD_Trend', 'CKD_Impact(in %)'],
      dtype='object')

In [ ]:
columns = ['FIPS CODE', 'State', 'County', '2010 POPULATION',
       'LAND AREA (Sqare Miles)', 'Number of Hospitals',
       'Average Hospital Approximity', 'Number of People(per 1 hospital)',
       'STATE FIPS', 'COUNTY FIPS', 'Population Density ',
       'All_Heart_Diseases_Average_Mortality', 'All_Stroke_Average_Mortality',
       'Coronary_Heart_Diseases_Average_Mortality',
       'Cardiovascular_Diseases_Average_Mortality',
       'Heart_Failure_Average_Mortality',
       'CKD_Average_Mortality',
       'All_Heart_Diseases_Average_Mortality(in %)',
       'All_Stroke_Average_Mortality(in %)',
       'Coronary_Heart_Diseases_Average_Mortality(in %)',
       'Cardiovascular_Diseases_Average_Mortality(in %)',
       'Heart_Failure_Average_Mortality(in %)',
       'CKD_Average_Mortality(in %)', 'All_Heart_Diseases_Trend',
       'All_Stroke_Trend', 'Coronary_Heart_Diseases_Trend',
       'Cardiovascular_Diseases_Trend', 'Heart_Failure_Trend','CKD_Trend',
       'All_Heart_Diseases_Impact(in %)', 'All_Stroke_Impact(in %)',
       'Coronary_Heart_Diseases_Impact(in %)',
       'Cardiovascular_Diseases_Impact(in %)', 'Heart_Failure_Impact(in %)',
        'CKD_Impact(in %)']

In [ ]:
data = data[columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Compact Dataset.csv')

In [ ]:
data['Prominent Disease'] = (data[['All_Heart_Diseases_Impact(in %)','All_Stroke_Impact(in %)','Coronary_Heart_Diseases_Impact(in %)','Cardiovascular_Diseases_Impact(in %)','Heart_Failure_Impact(in %)','Chronic_Kidney_Disease_Impact(in %)']].idxmax(axis=1))

In [ ]:
data['Prominent Disease'] = data['Prominent Disease'].str.rstrip('_Impact(in %)')

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Executable Dataset.csv')

In [ ]:
data =  data.dropna(subset = ['Prominent Disease'])

In [ ]:
data

In [ ]:
data.rename(columns = {'CKD_Average_Mortality' : 'Chronic_Kidney_Disease_Average_Mortality','CKD_Average_Mortality(in %)' : 'Chronic_Kidney_Disease_Average_Mortality(in %)','CKD_Trend' : 'Chronic_Kidney_Disease_Trend','CKD_Impact(in %)' : 'Chronic_Kidney_Disease_Impact(in %)'},inplace = True)

In [ ]:
data.to_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Executable Dataset.csv',index=False)

In [ ]:
import numpy as np
import plotly.offline as offline
from sklearn.preprocessing import MinMaxScaler
import plotly
import plotly.figure_factory as ff
from urllib.request import urlopen
import plotly.io as plio
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)
import pandas as pd
scaler = MinMaxScaler((0,100))


import plotly.express as px
df =  pd.read_csv('/content/drive/MyDrive/MediDoor/Cleaned Data/Final Executable Dataset.csv')
df.rename
df['FIPS CODE']=df['FIPS CODE'].apply(lambda x: '{0:0>5}'.format(x) )
 # df['risk'] = scaler.fit_transform(np.array(df['risk']).reshape(-1,1))
fig = px.choropleth(df,geojson = counties,locations='FIPS CODE', color='Prominent Disease',
                           color_continuous_scale="ylorrd",
                           custom_data = [df['Prominent Disease'],
df['FIPS CODE'], df['County']],
                           scope="usa")
             
hovertemp = '<i style="color:red;">Prominent Disease: %{customdata[0]}</i><br>'
hovertemp += '<i>FIPS Code:</i> %{customdata[1]}<br>'
hovertemp += '<i>County:</i> %{customdata[2]}<br>'
# I set my own hover template
fig.update_traces(hovertemplate=hovertemp) 
plio.write_html(fig, file='/content/drive/MyDrive/MediDoor/Data Visualisation/Final Map.html', auto_open=True)

#fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
#plotly.io.to_image(fig, format='jpeg',
 #                  scale=None, width=None, height=None)
#fig.write_image("/content/drive/MyDrive/Colab Notebooks/images/month1.jpeg")